<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRugbyDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B396B6C1C9251D900986749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B396B911C93AD9600986749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC2B9C31CA7418A00F519AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD46DB71CD9761600F28546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD46DC51CD9762F00F28546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
